<div class="header">
  <span style="position: absolute;
  left: 43%;
  top: 5%;">
    Gene-Motif Search
  </span>
</div>
<div class="outer-container">
  <div class="gene-container">
    <input type="text" placeholder="Enter Gene Name" [(ngModel)]="gene" name="gene" required><br>
    <button color="primary" (click)="fetchmotif()">Submit</button>
  </div>
  <div class="motif-container">
    <input type="text" placeholder="Enter Motif" [(ngModel)]="motif" name="motif" required><br>
    <button color="primary" (click)="fetchgene()">Submit</button>
  </div>
</div>
<div class="data-container">
  <div *ngIf="motifFlag" class="motif-container">
    <h2>Motifs Matched</h2>
      <div class="motif-data" *ngFor="let ind of motifArr">
        <div *ngFor="let data of ind">
          {{data}}
        </div>
      </div>
  </div>
  <div *ngIf="geneFlag" class="gene-container">
    <h2>Genes Matched</h2>
    <div class="gene-data">
      <div *ngFor="let data of geneArr">
        {{data}}
      </div>
    </div>
  </div>
</div>